* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

section{
    position: relative;
    width: 100%;
    max-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    max-width: 80px;
}

ul {
    position: relative;
    display: flex;
}
ul li{
    list-style: none;
}

ul a{
     text-decoration: none;
     display: inline-block;
     color: black;
     margin-left: 40px;
     font-weight: 400;
 }

 .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .textCol{
    position: relative;
    max-width: 600px;  
}

h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 800;
}

p{
    color: #333;
}

.textCol a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    border-radius: 40px;
    background-color: #017143;
    padding: 8px 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.imageCol{
    width: 600px;
    display: flex;
    justify-content: center ;
    padding-right: 50px;
    margin-top: 50px;
}

img{
    max-width: 340px;
}

.thumbnail{
    position:absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
}

.thumbnail li{
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumbnail li:hover{
    transform: translateY(-15px);
}

.thumbnail li img{
    max-width: 60p x;
}